{% if page.title %}
<header class="post-header">
  <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  <h1 class="post-title" itemprop="name headline">{{ page.title | escape | replace: "​", "<wbr>" }}</h1>
</header>
{% else %}
<header class="post-header">
  <p class="site-title">{{ site.description | escape }}</p>
  <h1 class="post-title" itemprop="name headline">{{ site.title | escape | replace: "​", "<wbr>" }}</h1>
</header>
{% endif %}

{% if page.cover_url %}
<div class="post-cover" aria-label="Cover">
  <div class="post-cover-wrapper">
    <img src="{{ page.cover_url }}" alt="" />
  </div>
  <div class="cover-meta">{{ page.cover_meta | markdownify }}</div>
</div>
{% endif %}
